  <h1>add new commande</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">id</label>
    <input
      type="number"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter id"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">name</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter name"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Poids</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter Poids"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Prix</label>
    <input
      type="number"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter Prix"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
